{% extends "base.html" %}

{% block main %}
    
    <div class="div_log_reg">
        <h1>Личный кабинет</h1>
        <h3 class="text-reg">Фамилия: {{user.first_name}} </h3>
        <h3 class="text-reg">Имя: {{name}}</h3>
        <h3 class="text-reg">Отчество: {{user.last_name}}</h3>
        <h3 class="text-reg">Номер телефона: {{user.profile.phone}}</h3>
        <div class="wrap">
            {% if vacancies %}
                {% for vacancy in vacancies %}
                    <div class="card">
                        <h2 class="title-card">{{ vacancy.title }}</h2>
                        <p class="price-card">{{ vacancy.price }}</p>
                        <p class="desc-card">{{ vacancy.author}}</p>
                        <a href="{% url 'vacancy' vacancy.id %}" class="url_text">Полная информация</a>
                        {% if user.profile.role %}
                        <a href="{% url 'update_vacancy' vacancy.id %}" class="url_text">Изменить вакансию</a>
                        {% else %}
                        <a href="{% url 'del_vacancy' vacancy.id %}" class="url_text">Убрать вакансию из отмеченных</a>
                        {% endif %}
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
        <input type="submit" value="Выйти из аккунта">
    </form>
    </div>
{% endblock main %}


