{% extends "base.html" %}

{% block main %}
    
    <div class="div_log_reg">
        <h1>Личный кабинет</h1>
        <h3 class="text-reg">Фамилия: </h3>
        <h3 class="text-reg">Имя: </h3>
        <h3 class="text-reg">Отчество: </h3>
        <h3 class="text-reg">Номер телефона: </h3>
        {% if user.profile.role %}
        
        {% endif %}
        <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Выйти из аккунта">
    </form>
    </div>
    
{% endblock main %}


