{% extends "base.html" %}

{% block main %}
    <h1>Все акансии</h1>
    <div class="panel-filter">
    <form method="GET">
        <label for="price">Зарплата:</label>
        <select name="price" id="price">
            {% if price %}
                    <option value="{{price}}">{{price}}</option>
            {% endif %}
        </select>
        <label for="date">Дата публикации:</label>
        <select name="date" id="date">
            {% if date %}
                    <option value="{{date}}">{{date}}</option>
            {% endif %}
        </select>  
        <label for="title">Название:</label>
        <select name="title" id="title">
            {% if title %}
                    <option value="{{title}}">{{title}}</option>
            {% endif %}
        </select>
        <input type="submit" value="Найти">    
    </form>
    </div>
    
    <div class="wrap">
        {% for vacancy in vacancies %}
            <div class="card">
                <h2 class="title-card">{{ vacancy.title }}</h2>
                <p class="price-card">{{ vacancy.price }}</p>
                <p class="desc-card">{{ vacancy.author}}</p>
                <a href="{% url 'vacancy' vacancy.id %}" class="url_text">Полная информация</a>
            </div>
        {% endfor %}
    </div>
{% endblock main %}
{% block script %}
    <script src="/static/loadForm.js"></script>
{% endblock script %}