{% extends "base.html" %}

{% block main %}
    <h1>Все акансии</h1>
    <form class="panel-filter" method="GET">
        <label for="price">Зарплата:</label>
        <select name="price" id="price"></select>
        <input type="submit" value="Найти">
    </form>
    <form class="panel-filter" method="GET">
        <label for="date">Дата публикации:</label>
        <input name="date">
        <input type="submit" value="Найти">    
    </form>
    <div class="wrap">
        {% for vacancy in vacancies %}
            <div class="card">
                <h2 class="title-card">{{ vacancy.title }}</h2>
                <p class="price-card">{{ vacancy.price }}</p>
                <p class="desc-card">{{ vacancy.author.user.username }}</p>
                <a href="{% url 'vacancy' vacancy.id %}" class="url_text">Полная информация</a>
            </div>
        {% endfor %}
    </div>
{% endblock main %}